ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;
}

.links {
    padding: 18px 0px;
    border-radius: 35px;
    width: fit-content;
    align-content: center;
    margin: auto;
    z-index: 10;
  }
  
.links-container {
    display: flex;
    align-items: center;
}

.links-menu {
    display: flex;
    width: fit-content;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
}

.links-menu-link {
    padding: 10px 12px;
    border-radius: 30px;
    font-weight: 600;
    color: var(--text-secondary);
    font-size: 16px;
    box-shadow: 0 0 2rem var(--box-shadow);
    border: 2px solid var(--border-highlight);
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

.links-menu-list, .links-menu-list-rotate {
    transition: 0.3s ease;
    margin: 0 10px;
}

.links-menu-list-rotate:hover {
    transform: scale(1.1) rotate(15deg);
    cursor: pointer;
}

.links-menu-list:hover {
    transform: scale(1.05);
}

.links-menu-link:hover {
    background-color: var(--hover-bg);
    box-shadow: 0 0 15px var(--hover-shadow);
    border: 2px solid var(--tag-hover-border);
}

@keyframes fadeUp2 {
    from {
      opacity: 0;
      transform: translateY(70px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.fade-up2 {
    animation: fadeUp2 1.5s ease-in-out forwards;
    will-change: transform, opacity;
}