@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
    margin: 0 auto;
    text-align: center;
}

body {
  background-color: var(--bg-primary);
  transition: background-color 0.3s ease;
}


p {
    color: var(--text-primary);
}

h1 {
    color: var(--text-primary);
    font-family: "Roboto", serif;
    font-weight: 800;
    font-size: 72px;
}

h2 {
    color: var(--text-primary);
    font-family: "Roboto", serif;
    font-weight: 800;
    font-size: 24px;
}

.info h2 {
    text-align: left;
    width: fit-content;
}

h3 {
    color: var(--text-muted);
    font-family: "Roboto", serif;
    font-weight: 600;
    font-size: 17.5px;
}

.info h3 {
    text-align: left;
    width: fit-content;
}

.flag {
    margin: -3px 0 0 2px;
    width: 30px;
    border-radius: 2px;
}